<div class="about">
    <header class="about-header">
        <h1>About SD-HUB Institute</h1>
    </header>

   

    <section class="about-team">
        <h2>Meet Our Team</h2>
        <div class="team-members">
            <div class="team-member">
              <h3>Fahadullah</h3>
                <p>Founder & CEO</p>
            </div>
            <div class="team-member">
               
                <h3>Mohd Sohail</h3>
                <p>Chief Academic Officer</p>
            </div>
            <div class="team-member">
                <h3>Rehan Ali</h3>
                <p>Head of Operations</p>
            </div>
        </div>
    </section>
    <section class="about-mission">
        <h2>Our Mission</h2>
        <p>Our mission is to empower individuals with the knowledge and skills required to thrive in a rapidly changing world. Through cutting-edge courses, expert instructors, and an emphasis on practical learning, SD-HUB is dedicated to fostering success and professional growth.</p>
    </section>

    <section class="about-vision">
        <h2>Our Vision</h2>
        <p>We envision a world where education is accessible, relevant, and transformative. SD-HUB Course Institute aims to be a leader in career development, continuously evolving to meet the needs of learners and industries alike.</p>
    </section>

</div>

